@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-midnight: #FFEAC5;
  --color-tahiti: #6C4E31;
  --color-bermuda: #603F26;
  --color-temer: #FFDBB5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Success Notification */
.Toastify__toast--success {
  background-color: oklch(37.1% 0 0) !important; /* Green background */
  color: white !important; /* White text */
}

/* Error Notification */
.Toastify__toast--error {
  background-color: #dc2626 !important; /* Red background */
  color: white !important; /* White text */
}

/* Customize the progress bar */
.Toastify__progress-bar {
  background-color: white !important; /* White progress bar */
}